requests[socks]>=2.31.0
qrcode[pil]>=7.4.2
Pillow>=10.0.0
python-telegram-bot[job-queue]>=20.0
supabase>=2.0.0
pytz>=2023.3
cloudscraper>=1.2.71
fake-useragent>=1.4.0
PySocks>=1.7.1
curl_cffi>=0.5.10

